body {
  line-height: 1.8;
  margin: 0;
}

/* Constants */

:root {
  --grid: 16px;
}

/* Box */

.box {
  margin-top: var(--grid);
  min-height: calc(4 * var(--grid));
}

.box__black {
  background-color: black;
}

.box__red {
  background-color: red;
}

/* Grid */

.grid {
  display: grid;
  grid-template-areas:
    "black"
    "red"
    "text";
}

.grid__black {
  grid-area: black;
}

.grid__red {
  grid-area: red;
}

.grid__text {
  grid-area: text;
}

/* Text */

.text {
  margin-top: var(--grid);
}

.text p:first-of-type {
  margin-top: 0;
}

/* Wrapper */

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 56em;
}

/*Media Queries*/
@media(max-width: 900px){
  .grid {
    display: grid;
    grid-template-areas:
      "black text red";
    }
  .box__black{
    float: left;
    height: 100%;
    width: calc(4 * var(--grid));
  }  
  .box__red{
    float: right;
    height: 100%;
    width: calc(4 * var(--grid));
  } 
  .text {
    margin-top: var(--grid);
    margin-left: var(--grid);
    margin-right: var(--grid);
  }
 }


@media(max-width: 600px){
 /* .grid__white {
    grid-area: white;
    height: var(--grid);
  }*/

/*.box {
    padding: var(--grid);
  }*/

  .grid {
    display: grid;
    grid-row-gap: var(--grid);
    grid-template-areas:
      "red text"
     /* "white text"*/
      "black text";
    }

  .box__black{
    margin-top: var(--grid);
    float: left;
    height: 100%;
    width: calc(4 * var(--grid));
  } 

  .box__red{
    float: left;
    height: 100%;
    width: calc(4 * var(--grid));
    margin-bottom: var(--grid);
  }
 
  .text {
    margin-top: var(--grid);
    margin-left: var(--grid);
    margin-bottom: 0px;
  }
}

